.restaurant-title {
    font-size: 20px;
}

.restaurant-card {
    border: 3px solid black;
    display: inline-block;
    padding: 10px;
    margin: 5px;
}

.restaurant-img {
    width: 200px;
    height: 200px;
}

.restaurant-card, .restaurant-img, .restaurant-title {
    text-align: center;
}

h1 {
    text-align: center;
}