.restaurant-title {
    font-size: 20px;
}

.restaurant-card {
    border: 1px solid black;
    display: inline-block;
    padding: 10px;
}

.restaurant-img {
    width: 150px;
}

.restaurant-card, .restaurant-img, .restaurant-title {
    text-align: center;
}