#website-title {
  font-size: 45px;
  color: #b22222;
}

.card-title {
  font-size: 30px;
  padding-bottom: 20px;
}

.card-img-top {
  height: 250px;
}

.card,
.card-img-top,
.card-title {
  text-align: center;
}

.card {
  width: 18rem;
}

.card-img-top {
  padding: 10px;
}

.home-page {
  background: linear-gradient(to bottom, #b22222, #8b0000);
  /* background: red; */
}

#restaurant-cards {
  padding: 30px;
}
