#menu-items {
  padding: 10px;
}

#uber-eats-total {
  margin-right: -400px;
}

#restaurant-title {
  font-size: 45px;
  color: #b22222;
}

#restaurant-img {
  width: 300px;
  height: 300px;
}

#distance-input {
  width: 100px;
}

.card {
  padding: 20px;
}

.card-title {
  text-align: center;
}

.btn {
  margin: 25px auto;
}

body {
  padding-bottom: 200px;
  background: linear-gradient(to bottom, #b22222, #8b0000);
}
